$disabled-Black : #525252;

.portletProcess{
    ::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    :hover::-webkit-scrollbar-thumb{
        background: #37474F;
    }
    ::-webkit-scrollbar-thumb{
        border-radius :0; 
    }
    ::-webkit-scrollbar-track {
        border-radius :0; 
    }
    

}
/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
  }
  
  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #f89406;
    color: #333;
    z-index: 1000;
    font-weight: 700;
  }
  
  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after,.activeTooltip::after,.activeTooltip::before {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after 
  .activeTooltip::after,.activeTooltip::before{
    display: none !important;
  }
  
  /* FLOW: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before ,
  .activeTooltip::after,.activeTooltip::before{
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after ,
  .activeTooltip::after,.activeTooltip::before{
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after ,
  .activeTooltip::after,.activeTooltip::before{
    left: 53%;
    transform: translate(-50%, -.5em);
  }
  
  
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */ 
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after ,.activeTooltip::after,.activeTooltip::before{
    animation: tooltips-vert 300ms ease-out forwards;
  }
  

  
  /* UNRELATED to tooltips */
 

  .IconTxt{
    top: 65%;
    position: relative;
  }